body {
  font-family: "karla", sans-serif;
  color: #095256;
}

#about,  #contact {
  height: 600px;
}

#work {
  height: 1300px;
}

.full-width {
  width: 1400px;
  margin: 0 auto;


}

.half-width {
  width: 700px;
  float: left;


}

.third-width {
  width: 433px;
  float: left;
}

.third-container {
  padding-left: 40px;
  width: 1360px;
  margin: 0 auto;
}





/*****     HEADER     *****/

header {
  background: url('../images/hero-image-desk-clean-web-850.png');
  background-size: cover;
  height: 850px;
  border-bottom: 5px solid #f9cc61;
}

.header-headings {
  font-family: "karla", sans-serif;
  text-align: center;
  padding: 300px 200px 0px 200px;
}

header h1 {
  color: #510746;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

header h2 {
  color: #253d63;
  font-size: 30px;
  padding-left: 240px;
  padding-right: 240px;

}

nav {
  border-radius: 5px;
  float: right;
  height: 50px;
  margin: 350px 80px 20px 20px;
  padding-right: 6px;
}

nav ul li {
  display: inline-block;
}

nav ul li a{
  color: #2B0433;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #FBFAEB;
  background: #2B0433;
  border-radius: 5px;
}


/*****     WORK     *****/

#work {
  margin-top: 120px;
}


#work .full-width {
  clear: both;
}

#work .half-width {
  margin-bottom: 40px;
}

#work h3 {
  color: #2B0433;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 60px;
  text-align: center;
}

#work .half-width img {
  padding-left: 100px;
  width: 550px;
}

#work .half-width h4, #work .half-width p {
  color: #2B0433;
  width: 550px;
}

#work h4 {
  margin-bottom: -15px;
  margin-top: -3px;
}


/***** ABOUT *****/


#about  {
  clear: both;
  background-color: #FBFAEB;
  border-top: 3px solid #f9cc61;

  padding-top: 10px;
}


#about h3 {
  color: #2B0433;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 60px;
  text-align: center;
}

#about .half-width img {
  margin-left: 100px;
  width: 550px;
  border: 3px solid #f9cc61;
}

#about .half-width h4, #about .half-width p {
  color: #2B0433;
  width: 550px;
}

#about h4 {
  margin-bottom: 15px;
  margin-top: -3px;
}

#about p {
  line-height: 1.4em;
}



/***** CONTACT *****/

#contact {
  background: #2B0433;
  clear: both;
  color: #f7f5e6;
}

#contact .third-container {
  padding:
}

#contact .full-width {
  text-align: center;
  padding-top: 10px;
}


#contact .third-width  {
  text-align: center;
}

#contact h3 {
  color: #FBFAEB;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 60px;
  text-align: center;
}


#contact ul li {
  display: inline-block;
  list-style: none;

}

#contact ul img {
  padding-right: 45px;
}
