body {
  font-family: "noto sans sc", sans-serif;
  font-weight: 300;
  color: #095256;
}

#about,  #contact {
  height: 660px;
}

#work {
  height: 1440px;
}

.full-width {
  width: 1400px;
  margin: 0 auto;


}

.half-width {
  width: 699px;
  float: left;


}

.third-width {
  width: 433px;
  float: left;
}

.third-container {
  padding-left: 40px;
  width: 1360px;
  margin: 0 auto;
}





/*****     HEADER     *****/

header {
  background: url('../images/hero-image-desk-clean-web.png');
  background-size: cover;
  height: 850px;
  border-bottom: 5px solid #2B0433;
}

.header-headings {
  font-family:  "noto sans sc", sans-serif;

  text-align: center;
  padding: 300px 200px 0px 200px;
}

header h1 {
  color: #510746;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

header h2 {
  color: #253d63;
  font-size: 30px;
  padding-left: 240px;
  padding-right: 240px;

}

nav {
  border-radius: 5px;
  float: right;
  height: 50px;
  margin: 320px 80px 20px 20px;
  padding-right: 6px;
}

nav ul li {
  display: inline-block;
}

nav ul li a{
  color: #2B0433;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #FBFAEB;
  background: #2B0433;
  border-radius: 5px;
}


/*****     WORK     *****/

#work {
  background-color: #f2f2ec;
 background-image: linear-gradient(to top, #FBFAEB 0%, #ffffff 32%, #FBFAEB 100%);
  background-blend-mode: soft-light,screen;
  padding-top: 40px;
}


#work .full-width {
  clear: both;
}

#work .half-width {
  padding-bottom: 40px;
}

#work h3 {
  color: #2B0433;
  font-family: "noto sans sc", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin: 100px;
  text-align: center;

}

#work .half-width img {
  margin-left: 100px;
  width: 550px;
  background-color: white;
}

#work .half-width h4, #work .half-width p {
  color: #2B0433;
  width: 550px;

}

#work p {
  line-height: 1.5em;
  max-width: 450px;
}

#work h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: -15px;
  margin-top: -3px;
}

#work h4 + p {
  font-size: 16px;
  font-weight: 700;
}

/***** ABOUT *****/


#about  {
  clear: both;
  border-top: 3px solid #f9cc61;
  padding-top: 10px;
}


#about h3 {
  color: #2B0433;
  font-family: "noto sans sc", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin: 60px;
  margin-top: 100px;
  text-align: center;
}

#about .half-width img {
  margin-left: 100px;
  width: 550px;
  border: 3px solid #f9cc61;
}

#about .half-width h4, #about .half-width p {
  color: #2B0433;
  width: 550px;
}

#about h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: -3px;
}

#about p {
  line-height: 1.5em;
}



/***** CONTACT *****/

#contact {
  background: #2B0433;
  clear: both;
  color: #f7f5e6;
}

#contact .third-container {
  padding:
}

#contact .full-width {
  text-align: center;
  padding-top: 10px;
}


#contact .third-width  {
  text-align: center;
}

#contact h3 {
  color: #FBFAEB;
  font-family: "noto sans sc", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin: 60px;
  text-align: center;
}


#contact ul li {
  display: inline-block;
  list-style: none;
}

#contact h4 {
font-size: 16px;
font-weight: 700;
}

#contact ul img {
  padding-right: 45px;
}

/***
background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
 ***/

 background-image: linear-gradient(-20deg, #f2f2ec 0%, #2B0433 100%);
